.GUINavigationBar, .navigationbar box {
    border-top-width: 0;
    background: black;
  }

  .stack-switcher button {
    background: black;
    min-height: 1cm;
    min-width: 1cm;
    text-decoration: none;
    border-radius: 50%; 
    color:rgb(239, 239, 245);
    font-size: 20px;
  }

  .stack-switcher button:checked {
    background-color: rgb(94, 91, 91);
  }

  <!-- background:rgba(0,0,0,0); border-radius: 50%;  -->

  .stack-switcher label {
    border: 0px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1px blue;
    color: white;
}

  radio:hover {
    background-color: #2817c7;
  }


  scrolledwindow {
    background: rgb(61, 255, 245);
    width:50%;
  }
  